<div class="gradient-background">
  <div class="center-background">
    <div class="top-nav">
    </div>
    <div class="content-container">
      <!-- About Me -->
      <div class="about-me-container">
        <div class="row">
          <div class="col-lg-5">
            <img class="headshot-image" src="/assets/images/test_headshot.png">
          </div>
          <div class="col-lg-7">
            Something
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- <router-outlet></router-outlet> -->
